*{
	margin: 0;
	padding:0;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	
}

nav{
	background-color:#9B1212;
}

.navigation{
	max-width: 1650px;
	display: flex;
	justify-content:space-between;
	align-items:center;
	margin-left: auto;
	margin-right: auto;
}

.content{
	max-width: 1650px;
	margin-left: auto;
	margin-right: auto;
}
.logo a{
	color: white;
	font-style: italic;
	margin-left: 20px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2rem;
	
}

.menu{
	display: flex;
	justify-content:flex-end;
	align-items:center;
	margin-right: 20px;
	height:80px;
}
.entree{
	list-style: none;
}

.entree a{
	text-decoration: none;
	color: white;
	padding: 0 15px;
	font-weight: 600;
}

h1{
	color:#9B1212 ;
	text-align: center;
	margin:80px 0;
}

article{
	display: flex;
	margin: 30px 20px;
}

.categories{
	display: flex;
	justify-content:space-around ;
	margin-right: 20px;
	
}

.rubrique{
	background-color:rgba(155,18,18,0.1) ;
	margin-left:15px;
	height: 100px;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.rubrique a{
	color:#9B1212;
}



.texte{
	width:40%;
	margin-right: 15px;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	padding-left: 10%;
	
}

.texte h2{
	margin-bottom: 5px;
	
}

.texte p{
	
}

.flex{
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.container{
	background-color: rgba(155,18,18,0.1);
	width: 60%;
	margin-right: 10%;
}

.containerflex{
	display: flex;
	height: 200px;
}


.containerflex1{
	display: flex;
	flex-direction:row-reverse;	
	height: 200px;
	
}

.containerflex2{
	display: flex;
	flex-direction:column;	
	height: 200px;
}

.containerflex3{
	display: flex;
	flex-direction:column-reverse;	
	height: 200px;
}

.containerflex4{
	display: flex;
	justify-content:flex-end;
	height: 200px;
}
.containerflex5{
	display: flex;
	flex-direction:column;
	justify-content:flex-end;
	height: 200px;
}
.containerflex6{
	display: flex;
	flex-direction: row-reverse;
	justify-content:flex-end;
	height: 200px;
}
.containerflex7{
	display: flex;
	flex-direction: column-reverse;
	justify-content:flex-end;
	height: 200px;
}

.containerflex8{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 200px;
}
.containerflex9{
	display: flex;
	flex-direction: row;
	align-items: start;
	height: 200px;
}
.containerflex10{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 200px;
}
.containerflex11{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 200px;
}

.containerflex12{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 200px;
}

.containerflex13{
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 200px;
}

.containerflex14{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
}

.containerflex15{
	display: flex;
	flex-direction: column;
	align-items: end;
	height: 200px;
}

