* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: rgb(24, 19, 19);

}

nav {
	background-color: rgba(155, 18, 18, 0.1);
}

.navigation {
	max-width: 1350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

.navigation a {
	color: rgb(24, 19, 19);
}

.content {
	margin-left: auto;
	margin-right: auto;
}

.logo img {
	width: 50px;
	padding: 15px 0;
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: 80px;
}

.entree {
	list-style: none;
}

.entree a {
	text-decoration: none;
	padding: 0 15px;
	font-weight: 600;
}

h1 {
	color: #9B1212;
	text-align: center;
	margin: 90px 0;
}

h2 {
	font-size: 26px;
}

p {
	font-size: 14px;
}

article {
	display: flex;
	margin: 30px 0px;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px;
}

.categories {
	display: flex;
	justify-content: space-around;
	margin-right: 20px;

}

.rubrique {
	background-color: rgba(155, 18, 18, 0.1);
	margin-left: 15px;
	height: 100px;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rubrique a {
	color: #9B1212;
}



.texte {
	width: 35%;
	margin-right: 35px;
	display: flex;
	flex-direction: column;
}

.texte h2 {
	margin-bottom: 5px;
	text-align: left;

}

.texte p {
	text-align: left;
	margin-bottom: 3px;
}

.texte h3 {
	margin-bottom: 5px;
}


.flex {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.container {
	background-color: rgba(155, 18, 18, 0.1);
	width: 60%;
	overflow: hidden;
}

.container div{
	padding: 5px;
}

.containerflex {
	display: flex;
	height: 200px;
}


.containerflex1 {
	display: flex;
	flex-direction: row-reverse;
	height: 200px;

}

.containerflex2 {
	display: flex;
	flex-direction: column;
	height: 200px;
}

.containerflex3 {
	display: flex;
	flex-direction: column-reverse;
	height: 200px;
}

.containerflex4 {
	display: flex;
	justify-content: flex-end;
	height: 200px;
}

.containerflex5 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 200px;
}

.containerflex6 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	height: 200px;
}

.containerflex7 {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	height: 200px;
}

.containerflex8 {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height: 200px;
}

.containerflex9 {
	display: flex;
	flex-direction: row;
	align-items: start;
	height: 200px;
}

.containerflex10 {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 200px;
}

.containerflex11 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 200px;
}

.containerflex12 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 200px;
}

.containerflex13 {
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 200px;
}

.containerflex14 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
}

.containerflex15 {
	display: flex;
	flex-direction: column;
	align-items: end;
	height: 200px;
}

.containerflex16 {
	display: flex;
	flex-direction: row;
	height: 200px;
}

.containerflex16 .flex {
	width: 500px;
}

.containerflex17 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 200px;
}

.containerflex17 .flex {
	width: 500px;
}

.containerflex18 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	height: 200px;
}

.containerflex18 .flex {
	width: 500px;
}

.containerflex19 {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 200px;
}

.containerflex19 .flex {
	height: 300px;
}

.containerflex20 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200px;
}

.containerflex20 .flex {
	height: 300px;
}


.texte.description{
	flex:1;
	align-items: center;
	padding: 50px 0;
	font-size: 11px;
	margin: 0;
}

.texte.texte.description p{
	font-size: 14px;
}
.texte.texte.description h3{
	font-size: 19px;
}

.containerflex21 {
	display: flex;
	height: 200px;
}

.flex1, .flex2, .flex3, .flex4 {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.flex1 {
	flex-basis: auto;
}

.flex2 {
	flex-basis: 50%;
}

.flex3 {
	flex-basis: 80px;
}



.flex11, .flex22, .flex33, .flex44 {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.flex11 {
	flex-grow: 1;
}

.flex22 {
	flex-grow: 2;
}

.flex33 {
	flex-grow: 0;
}

.fle {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
	flex-basis: 150px;
}

.one {
	flex-shrink: 0;
}

.two {
	flex-shrink: 0;
}

.tree {
	flex-shrink: 0;
}

.four {
	flex-shrink: 0;
}

.one1 {
	flex-shrink: 1;
}

.two2 {
	flex-shrink: 5;
}

.tree3 {
	flex-shrink: 2;
}

.four4 {
	flex-shrink: 0;
}

.fle1 {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;

}





/* GRID______________________________________________ */

.containergrid {
	height: 200px;
	display: grid;
	grid-template-columns: 50px 50px 120px;
}

.grid {
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.containergrid2 {
	height: 200px;
	display: grid;
	grid-template-columns: 50px 50px auto;
}

.containergrid3 {
	height: 200px;
	display: grid;
	grid-template-columns: 30px 1fr 2fr;
}

.containergrid4{
	height: 200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.containergrid5{
	height: 200px;
	display: grid;
	grid-template : 50px 1fr /150px 50px 1fr;
}

.containergrid6{
	height: 200px;
	display: grid;
	grid-template : auto auto /auto auto;
	row-gap:50px;  
}
.containergrid7{
	height: 200px;
	display: grid;
	grid-template : auto auto /auto auto;
	column-gap:50px;  
}

.containergrid8{
	height: 200px;
	display: grid;
	grid-template : auto auto /auto auto;
	gap:50px 10px;  
}

.containergrid9{
	height: 200px;
	display: grid;
	grid-template : auto auto /auto auto;
	gap:30px;  
}

.containergrid10{
	height: 200px;
	display: grid;
	grid-template :auto auto auto /auto auto auto; 
	gap:10px;  
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid5, .grid6{
	border: 2px solid #9B1212;
	color: #9B1212;
	margin: 3px 3px;
}

.grid2{
	grid-column:span 2;
}

.grid5{
	grid-column:span 3;
}

.grid1{
	grid-row:span 2;
}



.containergrid11 {
	display: grid;
	grid-template-areas: 
	"item3 . item2"	
	". item1 item1"; 	
}

.containergrid11 .item1{
	grid-area:item1;
}

.containergrid11 .item2{
	grid-area:item2;
}

.containergrid11 .item3{
	grid-area:item3;
}









@media screen and (max-width: 800px) {


	.navigation {
		padding: 0 15px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.logo img {
		width: 30px;
		margin-right: 20px;
	}

	.menu {
		margin: 0;
		height: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.menu a {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-size: 32px;
		margin: 60px 0;
	}

	article {
		flex-wrap: wrap;
		margin: 60px 0;
	}

	.rubrique {
		width: 100%;
		margin-bottom: 15px;
	}

	.texte {
		width: 100%;
		margin: 0;
		align-items: center;
		margin-bottom: 20px;
	}
	.rubrique {
		width: 100%;
		margin: 0;
		margin-top: 15px;
	}
	
	.rubrique:first-child {
		margin-top: 0;
	}
	
	.categories {
		flex-wrap: wrap;
		margin: 0 15px;
	}
	
	.entree a {
		padding-right: 15px;
	} 

}



@media screen and (max-width: 800px) {

	article {
		flex-wrap: wrap;
		margin: 60px 0;
	}

	.texte {
		width: 100%;
		margin: 0;
		align-items: center;
		margin-bottom: 20px;

	}

	.container {
		width: 100%;
	}

	.texte h3 {
		text-align: center;
	}

	.texte p {
		text-align: center;
	}

}






































